<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Exell Immoneuf</title>
    <meta  name="description" content="Exell Finance, Investissment">
    {% block stylesheets %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('bundles/exell/css/stylesheetConsult.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/exell/image/favicon16.png') }}" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</head>
<body>
{% block body %}{% endblock %}
<footer class="container-fluid bg-6">
    <div class="footer-text">
        <p>2017 - © Exell</p>
    </div>
</footer>
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script src="{{ asset('bundles/exell/js/javascript.js') }}"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>