/*Index*/
/*All*/
body{
    font-family: Open Sans, sans-serif;
}

.logoexell{
    width: 70px;
    margin-top: -10px;
}

.fl{
    float: left;
}

.fr{
    float: right;
}
.clr{
    clear: both;
}
.w150{
    width: 150px;
}

.glyphicon{
    font-size: 1.5em;
}
.whoami{
    text-align: center;
}

a:hover {
    text-decoration: none;
}
/* NavBar */
.navbar{
    margin-bottom: 0px;
}
/* Section 1 */
.bg-1{

}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
}
.carousel-caption{
    margin-left: auto;
}

.carousel-caption h1 {
    color: #fff !important;
}
/* Section 2 */
.bg-2{
    background-color: #d3d3d3;
    padding-bottom: 20px;
}

.icon{
    display: block;
    text-align: center;
    padding-top: 10px;
}

.box-title{
    display: block;
    text-align: center;
}
/* Section 3 */
.bg-3{

}
.video-left-subtitle{
    padding-top: 5%;
}
.video-left-content{
    padding-top:8%;
}
/* Section 4 */
.bg-4{

}
/* Section 5 */
.bg-5{

}
/* Section 6 */
.bg-6{
    background-color: #2e2f30;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-text p{
    text-align: center;
    color: white;
}
/* Responsive */
