/*consultList*/

.logoexell{
    width: 70px;
    margin-top: -10px;
}
a:hover {
    text-decoration: none;
}
.alreadyinaccount{
    margin-top: 2%;
}

.titleLot{
    margin: 25px 0px 10px 0px;
    background: #414042;
    position: relative;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;

}

.search-bar{
    border-radius: 25px;
    background: #49494b;
    margin-top: 5%;
    padding: 20px 20px 20px 20px;
}
.glyphicon.glyphicon-search{
    font-size: small;
}

.titleLot h3{
    color: #FFFFFF;
    margin-left: 15px;
}

.descrHolder{
    margin-left: 35px;
    float: left;
    width: 80%;
}
.description{
    margin-top: 10px;
    height: 20%;
    overflow: hidden;
}
.price{
    margin-left: 20px;
}

.imglot{
    text-align: center;
}

.lotpicture{
    width: 155px;
    height: 155px;
}

.nodisp{
    display: none;
}

body{
    background-color: lightgray;
}

.whoami{
    text-align: center;
}
